header {
    background-image:url("pastel\ bg.jpg");
    padding: 200px;
    text-align: center;


}

hr {
    border-width: 5px;
}

.main{
    color: rgb(67, 50, 87);
    font-size: 50px;
    font-family: Impact;
    text-align: left;

}

#name {
    border: 5px solid white;
    color: rgb(67, 50, 87);
    font-size: 100px;
    font-family: Impact;
    text-align: center;
}

#activities {
    border: 2px solid rgb(241, 167, 167);
    color: white;
    background-color: rgb(241, 167, 167);
    font-size: 30px;
}